attrs
Babel
certifi
chardet
debtcollector
enum34
eventlet
funcsigs
greenlet
idna
iso8601
keystoneauth1
mock
monotonic
msgpack
netaddr
netifaces
oslo.i18n
oslo.serialization
oslo.utils
pbr
pluggy
prettytable
py
pyparsing
pytest
python-novaclient
pytz
requests
simplejson
six
SQLAlchemy
stevedore
urllib3
wrapt
pika
python-keystoneclient
flask
cryptography
oslo.config
python-consul
testtools
tox
