pbr==3.1.1
oslo.config==3.9.0
SQLAlchemy>=1.3.0
python-novaclient==6.0.0
python-keystoneclient
keystoneauth1
keystonemiddleware==4.3.0
jinja2>=2.10.1
# pike release required version 0.12.2
flask>=1.0.0
Paste==1.7.5.1
PasteDeploy==1.5.2
eventlet==0.18.4
sqlalchemy-migrate>=0.12.0
mysql-python
enum34
pika==0.12.0
cryptography>=2.3