pbr
oslo.config
SQLAlchemy
python-novaclient
python-keystoneclient
keystoneauth1
keystonemiddleware
jinja2
# pike release required version 0.12.2
flask
Paste
PasteDeploy
eventlet
sqlalchemy-migrate
mysql-python
enum34
pika
cryptography